body {
    background-color: #444444!important;
}

.to-do-list {
    list-style: none;
    margin: 2.5rem;
    padding: 2.5rem;
}

.dropdown-toggle::after {
    display: none!important;
}

label {
    background-color: blanchedalmond;
    border-radius: 5px;
}

.form-check {
    display: inline-block!important;
}

.dropdown {
    display: inline-block;
}

.list-group-item {
    display: flex!important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.task label.checked {
    text-decoration: line-through;
    background-color: aquamarine;
}

.controls {
    display: flex!important;
    align-items: center!important;
    justify-content: space-between!important;
}

.filters span.active {
    color: #3C87FF;
}

.filters span {
    margin-right: 5px;
    font-size: 15px;
    column-rule-color: #444444;
    cursor: pointer;
}

.nav {
    display: flex!important;
    align-items: center;
    justify-content: space-between;
}


/* mobile */
@media (max-width: 768px) {
    .to-do-list {
        margin: 0;
        padding: 0;
    }
    .nav {
        display: flex!important;
        flex-direction: column!important;
        align-items: center;
        justify-content: center;

    }

    .nav .col-10 {
        width: 100%;
    }
    .nav .col-2 {
        width: 100%;
        margin-top: 1.5rem;
    }

    .list-group-item {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .task label {
        display: block;
        margin-bottom: 5px;
    }
}